/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .no-display-xs{ display: none; }
    .fx-direction-row{
        flex-direction: column;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .no-display-sm{ display: none; }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .no-display-md{ display: none; }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .no-display-lg{ display: none; }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .no-display-xl{ display: none; }
}